/* Blendet die Buttons im Header/Sidebar visuell aus */
header button:not(.w-full), #localization-select-trigger, #search-bar-entry {
  display: none !important;
}

#theme-preference-menu-trigger {
  display: block !important;
}

#footer {
  padding: 8pt 0px !important;
}

nav > a {
  border-width: 1px;
  border-style: solid;
  border-image: none;
  padding: 6pt 10pt;
  border-radius: 2pt;
  border-color: var(--tw-prose-headings);
}

h1, h2, .link {
    color: rgb(var(--primary-dark));
}

.dark :is(h1, h2, .link) {
    color: rgb(var(--primary-light));
}

#content-area h2:not(:first-of-type) {
    margin-top: 36pt;
}

.dark .callout {
    filter: saturate(.5);
}

/* enlarge */

html {
  font-size: 24px;
}

@layer utilities {
    @media (width >= 1200pt) {
        .lg\:block {
            display: block;
        }
    }
    @media (width >= 1600pt) {
        .xl\:flex-col {
            flex-direction: column;
        }
        .xl\:flex {
            display: flex;
        }
    }
}
