/* Scale everything to roughly 2x */
html {
  font-size: 32px;
}

/* Blendet die Buttons im Header/Sidebar visuell aus */
header button:not(.w-full), #localization-select-trigger, #search-bar-entry {
  display: none !important;
}

#theme-preference-menu-trigger {
  display: block !important;
}

#navbar {
    border-bottom: 1px solid rgb(var(--primary));
}

#footer {
    margin-top: 12pt !important;
    padding: 20pt 0 8pt 0 !important
}

nav > a {
  border-width: 1px;
  border-style: solid;
  border-image: none;
  padding: 6pt 10pt;
  border-radius: 2pt;
  border-color: var(--tw-prose-headings);
}

h1, h2, .link {
    color: rgb(var(--primary-dark));
}

.dark :is(h1, h2, .link) {
    color: rgb(var(--primary-light));
}

#content-area h2:not(:first-of-type) {
    margin-top: 36pt;
}

.dark .callout {
    filter: saturate(.5);
}

/* make the imprint subtle */

#content > span:last-of-type {
    opacity: .5;
}

.callout:has(+ .callout:last-of-type),
.callout:last-of-type {
    opacity: .6;
    padding: 16pt 28pt;
}

.callout:has(+ .callout:last-of-type) div:first-child,
.callout:last-of-type div:first-child {
    display: none;
}

/* spacing */

.mdx-content + div {
    padding: 0 0 24pt 0 !important
}

div:has(+ footer) {
    display: none !important;
}

/* enlarge */

html {
  font-size: 18px;
}

.lg\:sticky {
    position: 
}
.lg\:block {
    display: none !important;
}
.lg\:hidden {
    display: flex !important;
}


.xl\:flex {
    display: none !important;
}

@media (width >= 750pt) {
    .lg\:block {
        display: block !important;
    }
    .lg\:hidden {
        display: none !important;
    }
}

@media (width >= 1080pt) {
    .xl\:flex {
        display: flex !important;
    }
}

@media (width >= 400pt) and (height >= 400pt) {
    html {
      font-size: 24px;
    }
  
    
    .lg\:sticky {
        position: 
    }
    .lg\:block {
        display: none !important;
    }
    .lg\:hidden {
        display: flex !important;
    }

  
    .xl\:flex {
        display: none !important;
    }
  
  
    @media (width >= 1000pt) {
        .lg\:block {
            display: block !important;
        }
        .lg\:hidden {
            display: none !important;
        }
    }

  
    @media (width >= 1440pt) {
        .xl\:flex {
            display: flex !important;
        }
    }
}
