/* Blendet die Buttons im Header/Sidebar visuell aus */
header button:not(.w-full), #search-bar-entry {
  display: none !important;
}

#footer {
  padding: 8pt 0px !important;
}

nav > a {
  border-width: 1px;
  border-style: solid;
  border-image: none;
  padding: 6pt 10pt;
  border-radius: 2pt;
  border-color: var(--tw-prose-headings);
}
